.footer {
    color: white;
    padding: 64px 16px;
    background-color: #121212;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1600px;
    margin: auto;
    gap: 24px
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: white;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    font-size: 0.8rem;
    margin-top: 24px;
}

.footer-section ul li {
    margin-bottom: 16px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: white;
}

.social-icons {
    display: flex;
    gap: 16px;
    margin-bottom: 10px;
    margin-top: 24px;
    color: white;
}

.social-icon {
    font-size: 16px;
    color: white;
    transition: color 0.3s;
}

.social-icon:hover {
    color: white;
}

.footer-email {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.95rem;
    color: white;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    font-size: 0.85rem;
    color: #aaa;
    border-top: #aaaaaa80 0.1px solid;
    padding-top: 48px
}

.footer-bottom p {
    margin: 5px 0;
}